<%= form_tag do %>
    <%= hidden_field_tag('uri', page[:uri]) %>
    <label>
      Slug:
      <%= text_field_tag('slug', page[:slug]) %>
    </label>
    <label>
      Title:
      <%= text_field_tag 'title', page[:title] %>
    </label>
    <%= label_tag(:parent, 'Parent') %>
    <%= select_tag(:parent, options_for_select(parents_dropdown_data, 'http://id.ukpds.org/root')) %>
    <%= label_tag(:template, 'Template') %>
    <%= select_tag(:template, options_for_select(templates)) %>
    <label>
      Text:
      <%= text_field_tag 'text', page[:text] %>
    </label>

    <%= submit_tag("Save Page") %>
<% end %>