<h1>Add New Page</h1>

<%= form_tag(action: 'create') do %>
    <label>
      Slug:
      <%= text_field_tag('new_slug', @page[:slug]) %>
    </label>
    <label>
      Title:
      <%= text_field_tag 'new_title', @page[:title] %>
    </label>
    <%= label_tag(:parent, 'Parent') %>
    <%= select_tag(:parent, options_for_select(@parents_dropdown_data)) %>
    <%= label_tag(:template, 'Template') %>
    <%= select_tag(:template, options_for_select(@templates)) %>
    <label>
      Text:
      <%= text_field_tag 'new_text', @page[:text] %>
    </label>

    <%= submit_tag("Add Page") %>
<% end %>