<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
      <%= content_for(:head) %>
  <% else %>
      <title>Default title</title>
  <% end %>
</head>
<body>
<%= breadcrumbs_json_ld params[:path] %>
<%= breadcrumbs params[:path] %>
<ul>
  <%= navigation_menu %>
</ul>

<style>
  body {
    font-family: Verdana;
  }
  ul.breadcrumbs li {
    list-style-type: none;
    display: inline;
  }

  ul.breadcrumbs li::before {
    content: '/'
  }

  ul.breadcrumbs li:first-child::before {
    content: ''
  }

  ul.breadcrumbs li:last-child a {
    text-decoration: none;
    color: inherit;
    cursor: text;
  }
</style>
<%= yield %>
</body>
</html>
