<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
</head>
<body>
<%= breadcrumbs_json_ld params[:path] %>
<%= breadcrumbs params[:path] %>
<ul>
  <%= navigation_menu %>
</ul>

<%= yield %>
</body>
</html>
